.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .sign-up__left-side {
  margin-left: 15%;
}

.container .sign-up__left-side .sign-up__prodigi-logo {
  position: absolute;
  top: 30px;
  left: 25%;
  height: 50px;
  width: auto;
}

.container .sign-up__left-side .sign-up__background-image {
  position: absolute;
  clip: rect(0px, 30vw, auto, 0px);
  height: 100vh;
}

.container .sign-up__left-side .check-list {
  position: absolute;
  color: #FFFFFF;
  left: 25%;
  width: 65%;
}

.container .sign-up__left-side .check-list--1 {
  top: 140px;
}

.container .sign-up__left-side .check-list--2 {
  top: 210px;
}

.container .sign-up__left-side .check-list--3 {
  top: 280px;
}

.container .sign-up__left-side .check-list--4 {
  top: 350px;
}

.container .sign-up__left-side .check-list__text {
  left: 150px;
}

.container .sign-up__left-side .check-list .tick-icon {
  width: 15px;
  height: auto;
  display: inline;
  margin-left: -20px;
}

.container .sign-up__left-side .check-list h6 {
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: 0px;
  padding-bottom: 5px;
  left: 150;
}

.container .sign-up__left-side .check-list h6.check-list-text {
  left: 150px;
  display: inline;
}

.container .sign-up__left-side .check-list p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: 0px;
}

.container .sign-up__left-side .check-list p.check-list-text {
  left: 150px;
}

.container .sign-up__right-side {
  height: 100vh;
  margin-left: 5%;
}

.container .sign-up__right-side .sign-up__form-section {
  padding-top: 50px;
}

.container .sign-up__right-side .sign-up__form-section .sign-up__title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.container .sign-up__right-side .sign-up__form-section .sign-up__subtitle {
  font-size: 10px;
}

.container .sign-up__right-side .sign-up__form-section form {
  margin-top: 3 0px;
}

.container .sign-up__right-side .sign-up__form-section form:focus {
  border-color: none;
  -webkit-box-shadow: 0 0 0 3px #F7F622;
          box-shadow: 0 0 0 3px #F7F622;
}

.container .sign-up__right-side .sign-up__form-section form .form-group {
  margin-bottom: 0px;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__input .form__label {
  font-size: 7px;
  color: #a4a4a4;
  margin-bottom: 0px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__input .form-control {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 3px solid #FFFFFF;
  border-bottom: 2px solid #a4a4a4;
  padding-bottom: 10px;
  padding-left: 0px;
  margin-left: -5px;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__input .form-control:focus {
  border-color: black;
  border: 5px solid #FFFFFF;
  border-bottom: 2px solid #000000;
  border-radius: 0rem;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__input .form-error {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #F00013;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__input .form-control:focus,
.container .sign-up__right-side .sign-up__form-section form .form-group__input input:focus,
.container .sign-up__right-side .sign-up__form-section form .form-group__input .btn-pale:focus,
.container .sign-up__right-side .sign-up__form-section form .form-group__input .btn-solid:focus {
  border-color: none;
  -webkit-box-shadow: 0 0 0 3px #F7F622;
          box-shadow: 0 0 0 3px #F7F622;
}

.container .sign-up__right-side .sign-up__form-section form #password-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.container .sign-up__right-side .sign-up__form-section form #password-inputs .password-1 {
  display: inline;
  padding-left: 0px;
}

.container .sign-up__right-side .sign-up__form-section form #password-inputs .password-2 {
  display: inline;
  padding-right: 0px;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__checkbox p,
.container .sign-up__right-side .sign-up__form-section form .form-group__checkbox label {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__checkbox .checkbox-option--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__checkbox .checkbox-option--inline .checkbox-option {
  padding-bottom: 10px;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__checkbox .checkbox-option--inline #subscribe-email {
  display: inline;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__checkbox .checkbox-option--inline .checkbox-option-label-email {
  padding-left: 5px;
}

.container .sign-up__right-side .sign-up__form-section form .form-group__checkbox .checkbox-option--inline .checkbox-option-label {
  display: inline;
}

.container .sign-up__right-side .sign-up__form-section form .required-form-text {
  font-weight: bold;
  font-size: 10px;
}

.container .sign-up__right-side .sign-up__form-section form .btn--pale {
  color: #FFFFFF;
  background-color: #4352FF;
  border-color: #4352FF;
}

.container .sign-up__right-side .sign-up__form-section form .btn--solid {
  color: #FFFFFF;
  background-color: #4630D4;
  border-color: #4630D4;
}

.d-none {
  visibility: hidden;
}
/*# sourceMappingURL=sign-up.css.map */