//colors

$colorPurpleHeart: #4630D4
$colorDodgerBlue: #4352FF
$colorBlack: #000000
$colorSilverChalice: #a4a4a4
$colorWhite: #FFFFFF
$colorLemon: #F7F622

//fonts

$fontFamily: Arial, Helvetica, sans-serif

//units 

$baseUnit: 10px

//sign-up.html

.container
    display: flex
    // margin-left: 15%
    // .left-side
    //     margin-left: 15%

#sign-up-left
    flex: 30%

#sign-up-right
    flex: 30%

#bg-image
    height: 10px

.d-none
    visibility: hidden

.form-text
    text-transform: uppercase
    font-size: 10px
    font-family: $fontFamily
    color: $colorBlack

#sign-up-click-image
    position: absolute
    clip: rect(0px, 30vw, auto, 0px)
    height: 100vh

.check-list
    position: absolute
    color: $colorWhite
    left: 25%
    width: 65%

    .tick-icon
        width: 15px
        height: auto
        display: inline
        margin-left: -20px

    &#check-list-1
        top: 140px

    &#check-list-2
        top: 210px

    &#check-list-3
        top: 280px

    &#check-list-4
        top: 350px

    .check-list-text
        left: 150px
    h6
        font-size: 10px
        font-weight: bold
        font-family: $fontFamily
        color: $colorWhite
        margin: 0px
        padding-bottom: 5px
        left: 150

        &.check-list-text
            left: 150px
            display: inline
    p
        font-size: 10px
        font-family: $fontFamily
        color: $colorWhite
        margin: 0px

        &.check-list-text
            left: 150px

#prodigi-logo
    position: absolute
    top: 30px
    left: 25%
    height: 50px
    width: auto

.form-group
    p
        font-size: 10px
        font-family: $fontFamily
        color: black

.form-control,
input,
.btn-pale,
.btn-solid
    &:focus
        //trying to get rid of the blue box-shadow and the yellow that just meant to be tab
        border-color: none
        box-shadow: 0 0 0 ($baseUnit*0.3) $colorLemon

.form-group
    p,
    label
        font-size: 10px
        font-family: $fontFamily
        color: $colorBlack

.btn-pale
    color: $colorWhite
    background-color: $colorDodgerBlue
    border-color: $colorDodgerBlue

.btn-solid
    color: $colorWhite
    background-color: $colorPurpleHeart
    border-color: $colorPurpleHeart

.input--clicked
    border: 5px solid $colorWhite
    border-bottom: 5px solid $colorBlack

.input--normal
    border: 5px solid $colorWhite
    border-bottom: 5px solid $colorSilverChalice

#password-inputs
    .password-1
        display: inline

.form-control
    border: 5px solid $colorWhite
    border-bottom: 2px solid $colorSilverChalice
    &:focus
        border-color: black
        border: 5px solid $colorWhite
        border-bottom: 2px solid $colorBlack
        border-radius: 0rem
#sign-up-form-section
    height: 100vh
    margin-left: 5%
    h1
        font-size: 1.5rem
    p
        font-size: 0.7rem
    .form-group--input
        label
            font-size: 7px
            color: $colorSilverChalice
        input
            height: 5px

// .form-group p, .form-group label

    // .form-control
//     border: 5px solid $colorWhite
//     border-bottom: 5px solid $colorSilverChalice
//     &:focus
//         border: 5px solid $colorWhite
//         border-color: black
//         border-bottom: 5px solid $colorBlack
//         border-radius: 0rem
