.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .left-side {
  margin-left: 15%;
}

.container .left-side #prodigi-logo {
  position: absolute;
  top: 30px;
  left: 25%;
  height: 50px;
  width: auto;
}

.container .left-side #sign-up-click-image {
  position: absolute;
  clip: rect(0px, 30vw, auto, 0px);
  height: 100vh;
}

.container .left-side .check-list {
  position: absolute;
  color: #FFFFFF;
  left: 25%;
  width: 65%;
}

.container .left-side .check-list .tick-icon {
  width: 15px;
  height: auto;
  display: inline;
  margin-left: -20px;
}

.container .left-side .check-list#check-list-1 {
  top: 140px;
}

.container .left-side .check-list#check-list-2 {
  top: 210px;
}

.container .left-side .check-list#check-list-3 {
  top: 280px;
}

.container .left-side .check-list#check-list-4 {
  top: 350px;
}

.container .left-side .check-list .check-list-text {
  left: 150px;
}

.container .left-side .check-list h6 {
  font-size: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: 0px;
  padding-bottom: 5px;
  left: 150;
}

.container .left-side .check-list h6.check-list-text {
  left: 150px;
  display: inline;
}

.container .left-side .check-list p {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  margin: 0px;
}

.container .left-side .check-list p.check-list-text {
  left: 150px;
}

#password-inputs .password-1 {
  display: inline;
}

#sign-up-right-side {
  height: 100vh;
  margin-left: 5%;
}

#sign-up-right-side #sign-up-form-section {
  padding-top: 50px;
}

#sign-up-right-side #sign-up-form-section h1 {
  font-size: 1.5rem;
}

#sign-up-right-side #sign-up-form-section p {
  font-size: 0.7rem;
}

#sign-up-right-side #sign-up-form-section form {
  margin-top: 30px;
}

#sign-up-right-side #sign-up-form-section form .btn-pale {
  color: #FFFFFF;
  background-color: #4352FF;
  border-color: #4352FF;
}

#sign-up-right-side #sign-up-form-section form .btn-solid {
  color: #FFFFFF;
  background-color: #4630D4;
  border-color: #4630D4;
}

#sign-up-right-side #sign-up-form-section form:focus {
  border-color: none;
  -webkit-box-shadow: 0 0 0 3px #F7F622;
          box-shadow: 0 0 0 3px #F7F622;
}

#sign-up-right-side #sign-up-form-section .form-group p,
#sign-up-right-side #sign-up-form-section .form-group label {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

#sign-up-right-side #sign-up-form-section .form-group--input label {
  font-size: 7px;
  color: #a4a4a4;
}

#sign-up-right-side #sign-up-form-section .form-group--input input {
  height: 5px;
}

#sign-up-right-side #sign-up-form-section .form-group--input input .form-text {
  text-transform: uppercase;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

#sign-up-right-side #sign-up-form-section .form-group--input .form-control {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  border: 5px solid #FFFFFF;
  border-bottom: 2px solid #a4a4a4;
}

#sign-up-right-side #sign-up-form-section .form-group--input .form-control:focus {
  border-color: black;
  border: 5px solid #FFFFFF;
  border-bottom: 2px solid #000000;
  border-radius: 0rem;
}

#sign-up-right-side #sign-up-form-section .form-group--input .form-error {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #F00013;
}

#sign-up-right-side #sign-up-form-section .form-group--input .form-control:focus,
#sign-up-right-side #sign-up-form-section .form-group--input input:focus,
#sign-up-right-side #sign-up-form-section .form-group--input .btn-pale:focus,
#sign-up-right-side #sign-up-form-section .form-group--input .btn-solid:focus {
  border-color: none;
  -webkit-box-shadow: 0 0 0 3px #F7F622;
          box-shadow: 0 0 0 3px #F7F622;
}

#sign-up-right-side #sign-up-form-section .form-group--checkbox #subscribe-email {
  display: inline;
}

#sign-up-right-side #sign-up-form-section .form-group--checkbox .checkbox-option-label {
  display: inline;
}

.d-none {
  visibility: hidden;
}

.red-sass {
  color: red;
}
/*# sourceMappingURL=sign-up.css.map */