$colorPurpleHeart: #4630D4
$colorDodgerBlue: #4352FF
$colorBlack: #000000
$colorSilverChalice: #a4a4a4

#bg-image
    height: 10px

h6
    color: blue

.d-none
    visibility: hidden

h1
    color: $colorDodgerBlue

.form-text
    text-transform: uppercase
